<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <meta charset="utf-8">
    <link rel="icon" href="/img/weather.png">

    <link rel="stylesheet" href="./css/styles.css">
    </script>
</head>


<body>
    <div class="main-content">{{>header}}
        <p>Enter just city name, then find weather for today.</p>
    </div>
    {{>footer}}

</body>

</html>