<!DOCTYPE html>
<html>

<head>
    <title>index</title>
    <meta charset="utf-8">
    <link rel="icon" href="/img/weather.png">


    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div>{{>header}}</div>
    <p>This is portfolio for node.js.</p>
    <h2><a href="/weather_index">Weather Search</a></h2>
    <p>you can find weather for city whereever you want.</p>
    <ul>
        <li>express : web server</li>
        <li>path : static page</li>
        <li>hbs : template</li>
        <li>request : openweatherapi </li>
    </ul>
    {{>footer}}
    </script>


</body class="main-content">

</html>