<!DOCTYPE html>
<html>

<head>
    <title>Weather</title>
    <meta charset="utf-8">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    </script>
</head>

<body>


</body class="main-content">
<div>{{>header}}</div>


{{>footer}}

</html>