<header>
    <h1>{{title}}</h1>
    <a href="/">Home</a>
    <a href="/weather/index">Weather</a>
    <a href={{chat_app_url}}>Chat</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>